{% extends './store/main.html' %}
{% load static %}
{% block content %}

<div class="container bootstrap snippet">

<hr>
    <div class="row">

      <div class="col-sm-3"><!--left col-->
        <div class="text-center">
          <img src="{{object.image.url}}" class="avatar img-circle img-thumbnail" alt="avatar" height="192px" width="192px">
        </div><br>
      </div><!--/col-3-->

      <div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                    <div class="form-group">
                          <div class="col-xs-6">
                              <h4>E-mail</h4>
                              <li class="list-group-item text-left"><span class="pull-left"><strong>{{object.email}}</strong></span></li>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <h4>Name</h4>
                              <li class="list-group-item text-left"><span class="pull-left"><strong>{{object.name}}</strong></span></li>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <h4>Gender</h4>
                              <li class="list-group-item text-left"><span class="pull-left"><strong>{{object.gender}}</strong></span></li>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <h4>City</h4>
                              <li class="list-group-item text-left"><span class="pull-left"><strong>{{object.city}}</strong></span></li>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <h4>Birthday</h4>
                            <li class="list-group-item text-left"><span class="pull-left"><strong>{{object.date_of_birth}}</strong></span></li>
                          </div>
                      </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                               <a href="../profile/{{object.email}}/update"><button class="btn btn-lg btn-success" type="Change"><i class="glyphicon glyphicon-ok-sign"></i> Change</button></a>
                               <a onclick="javascript:return del()"><button class="btn btn-lg btn-success" type="Delete" style="background:red;"><i class="glyphicon glyphicon-ok-sign"></i> Delete</button></a>

        </div><!--/row-->

<SCRIPT LANGUAGE=javascript>
function del() {
var msg = "您真的確定要刪除嗎？\n\n請確認！";
if (confirm(msg)==true){
fetch('../profile/{{object.email}}/delete');
window.location.assign("/")

return true;
}else{
window.location.assign("../profile/{{object.email}}")
return false;
}
}
</SCRIPT>

{% endblock content %}